
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
scroll-behavior:smooth;
}

body{
background:#f4f7fb;
color:#333;
line-height:1.7;
}

/* Top Banner */

.banner{
background:#00C2B8;
color:white;
text-align:center;
padding:10px;
font-weight:bold;
}

/* Header */

header{
background:#4B0082;
color:white;
padding:15px 8%;
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
}
.logo{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin: 10px 0;
}
.logo h3{
color:#fff;
} 

.logo p{
font-size:14px;
margin-left:10px;
text-align:right;
}


/* Navigation */

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav ul li a{
color:white;
text-decoration:none;
font-weight:bold;
transition:.3s;
}

nav ul li a:hover{
color:#00C2B8;
}

/* Search */

.search{
display:flex;
margin-top:10px;
}

.search input{
padding:8px;
width:220px;
border:none;
outline:none;
}

.search button{
background:#00C2B8;
color:white;
border:none;
padding:8px 15px;
cursor:pointer;
}

/* Hero */

.hero{
background-image:linear-gradient(rgba(75,0,130,0.1),rgba(75,0,130,0.1)),
url("../images/images.jpg");
background-size:cover;
object-fit:cover;
background-position:center;
padding:100px 20px;
text-align:center;
color:white;
}

.hero h2{
font-size:48px;
margin-bottom:20px;
color:#ffff;
}

.hero p{
background:rgba(0,0,0,.3);
border-radius:5px;
max-width:800px;
margin:auto;
font-size:18px;
color: #ffff;
}

/* Sections */

section{
padding:70px 8%;
}

.title{
font-size:34px;
color:#4B0082;
border-left:6px solid #00C2B8;
padding-left:15px;
margin-bottom:25px;
}

/* Cards */

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:25px;
}

.card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,.08);
border-top:5px solid #00C2B8;
transition:.3s;
}

.card:hover{
transform:translateY(-6px);
}

.card h3{
color:#4B0082;
margin-bottom:15px;
}

/* Timeline */

.timeline{
position:relative;
margin-top:30px;
padding-left:40px;
border-left:4px solid #00C2B8;
}

.timeline-item{
margin-bottom:35px;
position:relative;
}

.timeline-item::before{
content:"";
position:absolute;
left:-51px;
top:5px;
width:18px;
height:18px;
background:#4B0082;
border-radius:50%;
}

.timeline-item h4{
color:#4B0082;
margin-bottom:8px;
}

/* Responsive */

@media(max-width:768px){

header{
flex-direction:column;
text-align:center;
}

nav ul{
flex-direction:column;
margin-top:15px;
}

.hero h2{
font-size:34px;
}

.search{
margin-top:15px;
}

}

